@import url(reset.css);

// =================== MIXINS ===================

@mixin font1() {
  font-family: 'Montserrat', sans-serif;
}

@mixin border-radius($radius:2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin transform($param) {
  -webkit-transform: $param;
  -moz-transform: $param;
  -o-transform: $param;
  transform: $param;
}

// =================== COMMON ===================

body {
  @include font1();
  background:#fff;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-class {
  @include border-radius(28px);
  padding:21px 35px;
  background:#000;
  color:#fff;
  display:block;
  @include transition(all .4s);
  text-decoration:none;

  &:hover {
    background:#509cfd;
  }
}


// ================== HEADER ==================

header {
  width:100%;
  background:#fff;
  height:122px;
  position:fixed;
  top:0;
  left:0;
  z-index:999;

  @media(max-width:580px){
    height:68px;
  }

  .header-inner {
    position:relative;

    a.logo {
      width:394px;
      height:176px;
      background:url('../img/logo.png') no-repeat;
      background-size:contain;
      outline:none;
      display:block;
      position:absolute;
      left:72px;
      top:6px;

      @media(max-width:580px){
        width:200px;
        left:20px;
      }
    }


    nav {
      float:right;
      margin:33px 97px 0 0 ;

      @media (max-width:1350px){
        float:none;
        position:fixed;
        right:-250px;
        top:122px;
        bottom:0;
        margin:0;
        background:#fff;
        @include transition(all 1s);

        &.active {
          right:0;
        }
      }

      @media(max-width:580px){
        top:68px;
      }

      ul {
        height:122px;
        list-style:none;
        float:left;

        @media (max-width:1350px){
          float:none;
          height:auto;
        }

        li {
          float:left;
          display:block;
          margin:20px 20px 0 0;


          @media (max-width:1350px){
            float:none;
            margin:0;
          }


          a {

            @include font1();
            font-size:14px;
            font-weight:400;
            color:#000;
            text-decoration:none;
            text-transform: uppercase;
            @include transition(all .4s);
            display:block;


            &:hover {
              color:#167af9;
            }

            @media (max-width:1350px){
              padding:10px 20px;
            }
          }

          &.btn {
            margin: 0 19px 0 7px;
            @media (max-width:1350px){
              margin:10px 20px;
            }

            a {
              @extend .btn-class;
              color: #fff;
              text-transform: uppercase;
              height:auto;

              @media (max-width:1350px){
                display:block;
              }
            }
          }

          &.menu-item-has-children {
            position:relative;
            height:69px;

            @media (max-width:1350px){
              height:auto;
              background:url('../img/menu-arrow-down.png') no-repeat;
              background-position:right 10px top 15px;
            }


            &:after {
              content:'';
              width:12px;
              height:6px;
              position:absolute;
              left:50%;
              top:32px;
              background:url('../img/menu-arrow-down.png');
              @include transform(translateX(-50%));
              @include transition(all .4s);

              @media (max-width:1350px){
                display:none;
              }
            }

            &:hover:after {
              top:40px;
            }


            a {
              height:68px;

              @media (max-width:1350px){
                height:auto;
              }
            }


            ul {
              pointer-events: none;
              opacity:0;
              height:auto;
              position:absolute;
              top:89px;
              left:50%;
              @include transform(translateX(-50%));
              padding:27px 0;
              background:#509cfd;
              @include transition(all 0.4s);

              @media (max-width:1350px){
                top:0;
                left:0;
                position:relative;
                @include transform(none);
                opacity:1;
                max-height:0;
                @include box-sizing();
                @include transition(all .8s ease-in-out);
                overflow:hidden;
                padding:0;
              }


              li {
                float:none;
                text-align:center;
                height:auto;
                margin:0;

                @media (max-width:1350px){
                  text-align:left;

                  &:first-child {
                    padding-top:10px;
                  }

                  &:last-child {
                    padding-bottom:10px;
                  }
                }

                a {
                  height:auto;
                  padding:7px 30px;
                  color:#fff;
                  text-align:center;
                  white-space: nowrap;
                  display:block;
                  @include transition(all .4s);

                  &:after {
                    display:none;
                  }

                  @media (max-width:1350px){
                    text-align:left;
                    padding:10px 20px;
                  }
                }

                &:hover {
                  a {
                    color:#000;
                  }
                }

              }
            }

            &:hover {
              ul {
                pointer-events: auto;
                top:69px;
                opacity:1;
                @media (max-width:1350px){
                  top:0;
                  max-height:200px;
                }
              }
            }



          }
        }
      }




      .social-menu {
        float:left;
        height:50px;

        @media (max-width:1350px){
          float:none;
          text-align:center;
          margin-top:20px;
        }

        li {
          margin-right:7px;
          margin-top:17px;

          &:last-child {
            margin-right:0;
          }

          @media (max-width:1350px){
            display:inline;
          }
        }

        .btn_facebook {
          width:23px;
          height:23px;
          padding:5px;
          @include border-radius(50%);
          @include box-sizing();
          background:#4e71a8 url('../img/icon_f.png') no-repeat center center;
          background-size:auto 15px;
          display:block;
          @include transition(all .4s);

          &:hover {
            background:#86a0c8 url('../img/icon_f.png') no-repeat center center;
            background-size:auto 15px;
          }

          @media (max-width:1350px){
            display:inline-block;
          }

        }

        .btn_twitter {
          width:23px;
          height:23px;
          padding:5px;
          @include border-radius(50%);
          @include box-sizing();
          background:#1cb7eb url('../img/icon_t.png') no-repeat center center;
          background-size:auto 15px;
          display:block;
          @include transition(all .4s);

          &:hover {
            background:#84d6f1 url('../img/icon_t.png') no-repeat center center;
            background-size:auto 15px;
          }

          @media (max-width:1350px){
            display:inline-block;
          }

        }


      }

    }


    .btn-mobile-menu {
      display:none;
      width:40px;
      height:40px;
      margin:41px 41px 0 0;
      float:right;

      @media (max-width:1350px){
        display:block;
      }

      @media(max-width:580px){
        width:20px;
        height:20px;
        margin:20px 20px 0 0;
      }

      img {
        width:100%;
      }
    }


  }
}


// ============= HERO IMAGE SECTION =============

#hero-image {
  background-size:cover;
  height:759px;
  width:100%;
  display:block;
  margin-top:122px;


  @media(max-width:600px){
    height:650px;
  }

  @media(max-width:580px){
    margin-top:68px;
  }

  .hero-image-inner {
    height:100%;
    position:relative;

    .hero-slider {
      .bx-wrapper {
        @include box-shadow(none);
        border:none;
        margin:0;

        li {
          height:759px;
          width:100%;
          background:url('../img/hero-image.jpg') no-repeat;
          background-position:center center;

          @media(max-width:600px){
            height:650px;
          }
        }
      }
    }

    .hero-image-content {
      max-width:1200px;
      width:100%;
      margin:auto;
      text-align:center;
      color:#fff;
      position:absolute;
      left:50%;
      @include transform(translateX(-50%));
      top:0;
      height:100%;

      .hero-image-content-inner {
        padding-top:140px;
      }

      h1 {
        font-size:108px;
        font-weight:500;
        line-height:108px;
        text-shadow:7px 7px 21px rgba(0,0,0,0.29);
        @media(max-width:1250px){
          padding:0 20px;
        }

        @media(max-width:1250px){
          font-size:97px;
          line-height:97px;
        }

        @media(max-width:1100px){
          font-size:86px;
          line-height:86px;
        }

        @media(max-width:980px){
          font-size:68px;
          line-height:68px;
        }

        @media(max-width:780px){
          max-width:400px;
          margin:auto;
        }

        @media(max-width:430px){
          max-width:350px;
          margin:auto;
          font-size:45px;
          line-height:45px;
        }
      }

      h2 {
        font-size:50px;
        font-weight:200;
        line-height:60px;
        text-shadow:7px 7px 21px rgba(0,0,0,0.69);

        @media(max-width:1250px){
          padding:0 20px;
        }

        @media(max-width:1250px){
          font-size:45px;
          line-height:54px;
        }

        @media(max-width:1100px){
          font-size:40px;
          line-height:48px;
        }

        @media(max-width:980px){
          font-size:32px;
          line-height:38px;
        }

        @media(max-width:430px){
          font-size:25px;
          line-height:30px;
        }

      }

      .btn-scroll-down {
        font-size: 14px;
        color: #fff;
        position:absolute;
        text-decoration:none;
        bottom:135px;
        left:50%;
        @include transform(translateX(-50%));
        display:block;
        outline:none;

        @media(max-width:600px){
          bottom:85px;
        }

        &:after {
          content: "";
          position:absolute;
          left:50%;
          top:30px;
          @include transform(translateX(-50%));
          width:20px;
          height:10px;
          background:url('../img/arrow-down.png') no-repeat;
          @include transition(all .4s);
          pointer-events: none;
        }

        &:hover:after {
          top: 38px;
        }
      }

    }

  }
}


// ============= CARDS SECTION =============

#cards {
  width:100%;
  background:#fff;
  padding:86px 0 88px;
  overflow:hidden;

  @media(max-width:600px){
    padding:50px 0 50px 0;
  }

  .cards-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    position:relative;
    padding:0 20px;
    @include box-sizing();

    .card {
      max-width:520px;
      text-align:center;

      @media(max-width:1080px){
        float:none !important;
        margin:auto;
      }

      h2 {
        font-size:40px;
        font-weight: 200;
        color:#000;
      }

      img {
        display:block;
        margin:0 auto 20px auto;
        max-width:100%;
      }

      p {
        font-size:15px;
        font-weight: 300;
        line-height:30px;
        color:#000;
        text-align:left;
        margin-bottom:28px;
      }

      strong {
        font-weight: 400;
      }

      a {
        font-size:15px;
        line-height:30px;
        color:#166fe1;
        display:inline-block;
        text-decoration:none;
        @include transition(all .4s);

        &.btn {
          @extend .btn-class;
          display:inline-block;
          color:#fff;
          line-height:15px;
          padding:21px 44px;
          font-weight: 300;

          &:hover {
            color:#fff;
          }
        }

        &:hover {
          color:#000;
        }
      }

    }

    .card-left {
      float:left;
      @media(max-width:1080px) {
        margin-bottom:86px;
      }

      @media(max-width:600px){
        margin-bottom:46px;
      }
    }

    .card-right {
      float:right;
    }


    .btn-play {
      text-align:center;
      display:inline-block;
      font-size:15px;
      color:#166fe1;
      text-decoration: none;
      @include transition(all .4s);
      position:absolute;
      left:50%;
      @include transform(translateX(-50%));
      top:132px;
      outline:none;

      @media(max-width:1080px) {
        position:relative;
        top:0;
        margin-bottom:76px;
      }

      @media(max-width:600px){
        margin-bottom:36px;
      }

      img {
        display:block;
        margin:0 auto 10px auto;
        @include transform(translateZ(0));
        @include transition(all .4s);
      }

      &:hover {
        color:#000;

        img {
          @include transform(translateY(-5px));
        }
      }


    }

  }
}



// ============= PHRASES SECTION =============

#phrases {
  width:100%;
  background:#f2faf2;
  padding:82px 0 82px 0;

  @media(max-width:600px){
    padding:42px 0 42px 0;
  }

  .phrases-inner {
    max-width:1165px;
    width:100%;
    margin:auto;
    padding:0 20px;
    @include box-sizing();

    ul {
      li {
        font-size:26px;
        font-weight: 200;
        line-height:50px;
        padding-left:48px;
        background:url('../img/checkmark.jpg') no-repeat;
        background-position:left 10px;
        letter-spacing: -0.01em;

        @media(max-width:600px){
          font-size:20px;
          line-height:42px;
        }

        strong {
          font-weight: 600;
        }
      }
    }
  }
}


// ============= PARTNER BANNER SECTION =============

#partner-banner {
  width:100%;
  background:#509cfd;
  padding:72px 0 82px 0;

  @media(max-width:600px){
    padding:40px 0 45px 0;
  }

  .partner-banner-inner {
    max-width:1160px;
    margin:auto;
    text-align:center;
    padding:0 20px;
    @include box-sizing();

    h2 {
      font-size:40px;
      font-weight: 200;
      color:#fff;

      @media(max-width:600px){
        font-size:32px;
      }
    }
  }
}


// ============= LOGOS SECTION =============

#logos {
  width: 100%;
  background: #fff;
  padding: 70px 0 80px 0;

  @media(max-width:600px){
    padding:40px 0 55px 0;
  }

  .logos-inner {

    ul.logos-slider {

      li {
        float: none !important;
        display: table-cell;
        width: auto !important;
        vertical-align: middle;

        img {
          margin: 0 25px;
        }
      }
    }

    .bx-wrapper {
      @include box-shadow(none);
      margin-bottom:42px;
    }

    .logos-controls {
      text-align:center;
      vertical-align: top;
      font-size:0;
      padding:0 20px;
      @include box-sizing();

      @media(max-width:880px){
        max-width:360px;
        margin:auto;
      }

      .btn {
        @extend .btn-class;
        display: inline-block;
        padding:20px 50px !important;
        font-size:15px;
        font-weight: 300;

        span {
          color:#95b9e7;
        }
      }

      .slider-controls {
        font-size:0;
        display:inline-block;
        vertical-align: top;
        margin:0 19px;

        @media(max-width:880px){
          margin:19px;
        }

        .logo-prev {
          display:inline;
          a {
            -webkit-border-top-left-radius: 28px;
            -webkit-border-bottom-left-radius: 28px;
            -moz-border-radius-topleft: 28px;
            -moz-border-radius-bottomleft: 28px;
            border-top-left-radius: 28px;
            border-bottom-left-radius: 28px;

            background: #65a8fd url('../img/slider-arrow-left.png') no-repeat;
            background-position: center center;
            display: inline-block;
            @include transition(all .4s);
            text-decoration: none;
            text-indent: -9999px;
            width: 69px;
            height: 58px;
            cursor: pointer;
            outline:none;

            &:hover {
              background: #afcdf3 url('../img/slider-arrow-left.png') no-repeat;
              background-position: center center;
            }
          }
        }


        .logo-next {
          display:inline;
          a {
            -webkit-border-top-right-radius: 28px;
            -webkit-border-bottom-right-radius: 28px;
            -moz-border-radius-topright: 28px;
            -moz-border-radius-bottomright: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;

            background: #65a8fd url('../img/slider-arrow-right.png') no-repeat;
            background-position: center center;
            display: inline-block;
            @include transition(all .4s);
            text-decoration: none;
            text-indent: -9999px;
            width: 69px;
            height: 58px;
            cursor: pointer;
            outline:none;


            &:hover {
              background: #afcdf3 url('../img/slider-arrow-right.png') no-repeat;
              background-position: center center;
            }
          }
        }

      }





    }

  }
}


// ============= HOW IT WORKS SECTION =============

#how-it-works {
  width:100%;
  background:#f2faf2;
  padding:78px 0 78px 0;

  @media(max-width:600px){
    padding:40px 0 60px 0;
  }

  .how-it-works-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    text-align:center;
    padding:0 20px;
    @include box-sizing();

    h2 {
      font-size:40px;
      font-weight: 200;
      text-align:center;
    }

    .hiw-wrapper {
      padding-top:80px;
      text-align:center;
      margin-top:76px;

      @media(max-width:600px){
        padding-top:40px;
      }

      .hiw-item {
        width:326px;
        height:326px;
        background:#fff;
        @include border-radius(50%);
        text-align:center;
        position:relative;
        display:inline-block;
        margin-right:55px;

        @media(max-width:1160px){
          margin:0 25px 25px 25px;
        }

        @media(max-width:800px){
          margin:25px 25px 100px 25px;
        }

        @media(max-width:400px) {
          @include border-radius(10px);
          margin:0 0 120px 0;
          width:auto;
          height:auto;
          padding:20px;
          @include box-sizing();
        }

        &:last-child {
          margin-right:0;

          @media(max-width:1160px){
            margin:25px;
          }

          @media(max-width:400px) {
            margin:0 0 100px 0;
          }
        }

        img {
          border:10px solid #fff;
          @include border-radius(50%);
          left:50%;
          top:-80px;
          @include transform(translateX(-50%));
          position:absolute;
        }

        h3 {
          font-size: 26px;
          line-height:48px;
          text-transform: uppercase;
          font-weight: 300;
          padding:130px 0 10px 0;

          @media(max-width:400px) {
            padding:100px 0 10px 0;
          }
        }

        ul {
          li {
            font-size:15px;
            line-height:22px;
            font-weight: 300;
          }
        }
      }



    }

    .btn {
      @extend .btn-class;
      display:inline-block;
      margin-top:88px;
      font-weight: 300;

      @media(max-width:600px){
        margin-top:48px;
      }
    }

  }
}


// ============= TESTIMONIALS SECTION =============

#testimonials {
  width:100%;
  background:#fff;
  padding:88px 0 100px 0;

  @media(max-width:600px){
    padding:48px 0 50px 0;
  }

  .testimonials-inner {
    max-width:1160px;
    margin:auto;
    font-size:0;
    vertical-align: top;
    text-align:center;
    padding:0 20px;
    @include box-sizing();

    .testimonials-list {
      .testimonial-item {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 65px;

        p {
          font-size: 24px;
          line-height: 36px;
          font-style: italic;
          font-weight: 200;
          margin-bottom: 25px;
        }

        img {
          max-width:100%;
        }

        &.full-width {
          width: 100%;
          max-width: 675px;
        }

        &.half-width {
          width: 50%;

          @media(max-width:940px){
            width:100%;
            max-width:675px;
          }
        }

      }
    }

    .btn {
      font-size:15px;
      @extend .btn-class;
      display:inline-block;
      font-weight: 300;
    }

  }
}



// ============= BLOG SECTION =============

#blog {
  width:100%;
  background:#fff;

  .blog-inner {
    overflow:hidden;

    .post-item {
      width:100vw;
      display:flex;
      align-items:center;

      @media(max-width:1400px){
        flex-wrap:wrap;
      }

      .post-image {
        width:50vw;
        overflow:hidden;
        flex: 1 0 auto;


        @media(max-width:1400px){
          width:100vw;
        }

        img {
          width:50vw;
          display:block;
          @include transition(all 1s);

          &:hover {
            @include transform(scale(1.1) rotate(2deg));
          }

          @media(max-width:1400px){
            width:100vw;
          }
        }
      }

      .post-content {
        width: 50vw;
        flex-grow: 1;
        overflow: hidden;
        padding: 0 90px 0 90px;

        @media(max-width:1400px){
          width:100vw;
          padding:90px;
        }

        @media(max-width:768px){
          padding:45px 20px;
          text-align:center;
        }


        h2 {
          font-size: 32px;
          font-weight: 200;
          margin-bottom: 20px;
        }

        p {
          font-size: 15px;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 25px;
        }

        .btn {
          @extend .btn-class;
          display: inline-block;
          font-weight: 300;
        }

        .post-content-inner {
          max-width: 565px;

          @media(max-width:1400px){
            max-width:100%;
          }
        }

      }

      &.post-image-left {
        .post-image {
          order:1;
        }

        .post-content {
          order:2;
        }
      }

      &.post-image-right {
        .post-image {
          order:2;
        }

        .post-content {
          order:1;
          text-align:right;

          .post-content-inner {
            float:right;
          }
        }

        @media(max-width:1400px){
          .post-image {
            order:1;
          }

          .post-content {
            order:2;
            text-align:left;

            .post-content-inner {
              float:none;
            }
          }
        }

        @media(max-width:768px){
          .post-content {
            text-align:center;
          }
        }


      }


    }

  }
}


// ============= FOOTER SECTION =============

footer {
  width:100%;
  background:#4b99fd;
  padding:80px 0 78px 0;

  @media(max-width:600px){
    padding:45px 0 45px 0;
  }

  .footer-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    overflow:hidden;
    padding:0 20px;
    @include box-sizing();
    font-size:0;


    h3 {
      font-size:24px;
      font-weight: 200;
      color:#000;
      margin-bottom:35px;
      @media(max-width:600px){
        margin-bottom:20px;
      }
    }

    ul {
      li {
        a {
          font-size:15px;
          font-weight: 300;
          line-height:24px;
          color:#fff;
          @include transition(all .4s);
          text-decoration: none;

          &:hover {
            color:#000;
          }
        }
      }
    }


    .navigation-menu, .stuff-menu, .connect-menu, .newsletter {
      display:inline-block;
      vertical-align: top;
    }

    .navigation-menu {
      width:268px;
      @media(max-width:1200px){
        width:50%;
        padding:0 0 40px 0;
        text-align: center;
      }

      @media(max-width:700px){
        width:100%;
      }

    }

    .stuff-menu {
      width:268px;
      @media(max-width:1200px){
        width:50%;
        padding:0 0 40px 0;
        text-align: center;
      }

      @media(max-width:700px){
        width:100%;
      }

    }

    .connect-menu {
      width:234px;
      @media(max-width:1200px){
        width:50%;
        text-align: center;
      }

      @media(max-width:700px){
        width:100%;
        padding:0 0 40px 0;
      }

    }

    .newsletter {
      width:350px;
      @media(max-width:1200px){
        width:50%;
        text-align: center;
      }

      @media(max-width:700px){
        width:100%;
        padding:0;
      }


      input[type=email]{
        @include border-radius(28px);
        border:none;
        padding:21px 35px;
        background:#fff;
        color:#000;
        display:block;
        @include transition(all .4s);
        text-decoration:none;
        @include box-sizing();
        max-width:350px;
        width:100%;
        outline:none;

        @media(max-width:1200px){
          margin:auto;
        }

      }

      .btn {
        @extend .btn-class;
        display:inline-block;
        margin-top:19px;
        font-size:15px;
        font-weight: 300;
      }
    }



  }
}



// ============= COPYRIGHT SECTION =============


#copyright {
  width:100%;
  background:#fff;
  padding:32px 0;
  overflow:hidden;


  .copyright-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    padding:0 20px;
    @include box-sizing();

    .copyright-info {
      max-width: 395px;
      float: left;

      @media(max-width:1060px){
        max-width: 100%;
        width:100%;
        text-align:center;
        margin-bottom:20px;
      }


      p {
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
        color: #000;
        margin-top: 2px;

        a {
          font-size: 13px;
          font-weight: 300;
          line-height: 24px;
          color: #6775ff;
          @include transition(all .4s);
          display: inline-block;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }
      }

    }

    .payment-menu {
      float:right;

      @media(max-width:1060px){
        float:left;
        width:100%;
        text-align:center;
      }

      ul {
        @media(max-width:1060px){
          display:inline-block;
        }

        li {
          height:50px;
          display:table-cell;
          vertical-align: middle;

          @media(max-width:700px){
            margin:10px 0 0 0;
          }

          @media(max-width:480px){
            margin:10px 0 0 0;
            display:list-item;
          }

          a {
            text-decoration: none;
            margin-left:10px;

            img {
              @include transform(translateZ(0));
              -webkit-transition: .2s transform;
              transition: .2s transform;
              max-width:100%;
              @media(max-width:700px){
                padding:10px;
                @include box-sizing();
              }
            }

            &:hover {
              img {
                @include transform(translateY(-5px));
              }
            }
          }
        }
      }
    }

  }
}




// ======================================= PARTNERS PAGE =====================================

#page-header {
  width:100%;
  margin-top:122px;
  background-size:cover;
  background-position:center center;

  &.bg-new-york {
    background:url('../img/header-image-new-york.jpg') no-repeat;
  }

  &.bg-purchase {
    background:url('../img/header-image-purchase.jpg') no-repeat;
  }

  @media(max-width:580px){
    margin-top:68px;
  }

  .page-header-inner {
    position:relative;
    height:279px;
    width:100%;
    padding:0 20px;
    @include box-sizing();
    text-align:center;

    @media(max-width:430px){
      height:200px;
    }

    h1 {
      font-size:90px;
      font-weight:500;
      line-height:279px;
      text-shadow:7px 7px 21px rgba(0,0,0,0.29);
      color:#fff;

      @media(max-width:1250px){
        padding:0 20px;
      }

      @media(max-width:1250px){
        font-size:97px;
      }

      @media(max-width:1100px){
        font-size:86px;
      }

      @media(max-width:980px){
        font-size:48px;
      }

      @media(max-width:780px){
        max-width:400px;
        margin:auto;
      }

      @media(max-width:430px){
        max-width:350px;
        margin:auto;
        font-size:32px;
        line-height:200px;
      }
    }


    .btn {
      @extend .btn-class;
      display:inline-block;
      border:6px solid #fff;
      @include box-sizing();
      @include border-radius(40px);
      padding:21px 55px;
      @include transform(translateY(-35px));
      text-transform: uppercase;
      font-size:14px;
      font-weight: 400;
    }

  }
}



// ===================== WHITE BLANK SECTION =====================

.blank-1 {
  width:100%;
  background:#fff;
  padding:80px 0;

  @media(max-width:600px){
    padding:50px 0 50px 0;
  }

  .blank-1-inner {
    max-width:1165px;
    width:100%;
    padding:0 20px;
    @include box-sizing();
    margin:auto;

    p {
      font-size:15px;
      line-height:31px;
      font-weight: 300;
    }

  }
}


// ===================== FILTER BAR SECTION =====================

#filter-bar {
  width:100%;
  background:#509cfd;
  padding:55px 0;

  @media(max-width:1060px){
    padding:55px 0 35px 0;
  }

  @media(max-width:1060px){
    padding:35px 0 15px 0;
  }

  .filter-bar-inner {
    max-width:1165px;
    margin:auto;
    padding:0 20px;
    @include box-sizing();

    ul.filter-menu {
      width:100%;
      text-align:center;
      font-size:0;

      @media(max-width:1060px){
        max-width:530px;
        margin:auto;
      }

      @media(max-width:440px){
        max-width:300px;
      }

      li {
        display:inline;
        margin-right:11px;

        &:last-child {
          margin-right:0;
        }

        .btn {
          @extend .btn-class;
          display:inline-block;
          font-size:14px;
          font-weight: 300;
          text-transform: uppercase;
          width:181px;
          @include box-sizing();

          @media(max-width:1060px){
            margin-bottom:20px;
          }

          @media(max-width:768px){
            font-size:12px;
            padding:10px 20px;
            width:100px;
          }



          &:hover, &.active {
            background:#323232;
          }

          &.btn-white {
            background:#fff;
            color:#000;
            width:111px;

            &:hover, &.active {
              background:#dbdad9;
            }
          }


        }
      }
    }

  }
}


// ===================== MERCHANTS SECTION =====================

#merchants {
  width:100%;
  background:#fff;
  padding:86px 0;

  @media(max-width:600px){
    padding:50px 0;
  }

  .merchants-inner {
    max-width:1165px;
    margin:auto;
    padding:0 20px;
    @include box-sizing();
    text-align:center;

    h2 {
      font-size:40px;
      font-weight: 200;
      margin-bottom:86px;

      @media(max-width:600px){
        margin-bottom:50px;
      }
    }




    .merchants-list {
      max-width:1122px;
      width:100%;
      margin:auto;
      border-bottom: 1px solid #bdbdbd;

      .merchant-item {
          border-top:1px solid #bdbdbd;
          width:100%;
          position:relative;
          overflow:hidden;
        
          .expand-toggle {
            cursor: pointer;
          }

          .merchants-item-header {
            height:149px;
            padding:9px 40px 9px 40px;
            @include box-sizing();

            @media(max-width:768px){
              height:99px;
              padding:9px 0px 9px 0px;
            }

            @media(max-width:440px){
              height:79px;
            }

            .merchant-logo-wrapper {
              position:absolute;
              left:40px;
              top:9px;
              height:131px;
              width:148px;
              @include transition(all 0.8s ease-in-out);

              @media(max-width:768px){
                left:10px;
                top:9px;
                height:80px;
                width:90px;
              }

              @media(max-width:530px){
                display:none;
              }

              img {
                @include transition(all 0.8s ease-in-out);
                max-height:131px;
                display:block;
                position:absolute;
                left:50%;
                top:50%;
                @include transform(translate(-50%, -50%));

                @media(max-width:768px){
                  max-height:80px;
                  max-width:90px;
                }

                @media(max-width:530px){
                  max-height:40px;
                }

              }
            }

            .merchant-name {
              float:right;
              margin:46px 50px 0 0;

              @media(max-width:768px){
                margin:26px 50px 0 0;
              }

              @media(max-width:530px){
                float:left;
                margin:26px 0 0 0;
              }

              @media(max-width:440px){
                margin:16px 0 0 0;
              }

              p {
                font-size:24px;
                font-weight: 300;
                line-height:30px;
                @include transition(all .4s);

                @media(max-width:768px){
                  font-size:20px;
                }

                @media(max-width:440px){
                  font-size:16px;
                }

                span {
                  font-size:36px;
                  font-weight: 300;
                  line-height:30px;
                  margin-left:8px;
                  @include transition(all .4s);

                  @media(max-width:768px){
                    font-size:26px;
                  }

                  @media(max-width:440px){
                    font-size:20px;
                  }

                  &.off {
                    font-size:36px;
                    display:none;
                  }
                }
              }
            }

            .merchant-controls {
              position:absolute;
              top:66px;
              right:40px;
              @include transform(translateY(0));
              @include transition(all .8s ease-in-out);

              @media(max-width:768px){
                top:46px;
                right:20px;
              }

              @media(max-width:440px){
                top:34px;
              }

              a {
                width:13px;
                height:13px;
                background:url('../img/btn-expand-sprite.png') no-repeat;
                background-position:top;
                display:block;
                outline:none;
              }
            }


            &:hover {
              .merchant-name {
                p {
                  color:#509cfd;
                }
              }
            }


          }


          .merchants-item-body {
            display:none;
            padding:0 90px 0 0;
            @include box-sizing();
            float:right;
            max-width:700px;
            text-align: right;
            padding-bottom:70px;

            @media(max-width:768px){
              padding:0 50px 30px 0;
            }

            @media(max-width:530px){
              text-align:left;
            }

            p {
              font-size:15px;
              line-height:24px;
              font-weight: 300;

              @media(max-width:530px){
                text-align:left;
                font-size:14px;
              }
            }

            a {
              font-size:15px;
              line-height:24px;
              color:#509cfd;
              @include transition(all .4s);
              text-decoration: none;

              &:hover {
                color:#000;
              }
            }

            .merchants-item-body-address {
              margin-bottom:25px;
            }

            .merchants-item-body-text {
              padding-left:70px;

              @media(max-width:768px){
                padding-left:20px;
              }
              @media(max-width:530px){
                padding-left:0;
              }
            }

          }



        &.open {

          @media(min-width:768px) {
            .merchant-logo-wrapper {
              height: 241px;
              width: 300px;
              img {
                max-height: 241px;
                max-width: 300px;
              }
            }

            .merchant-name {
              p {
                span {
                  font-size: 48px;
                  font-weight: 500;
                  &.off {
                    font-size: 48px;
                    display: inline-block;
                  }
                }
              }
            }
          }

          .merchant-controls {
            top:50%;
            right:40px;
            @include transform(translateY(-50%));
            a {
              background: url('../img/btn-expand-sprite.png') no-repeat;
              background-position: bottom;
            }


            @media(max-width:768px){
              right:20px;
            }


          }
        }

      }


    }


    .card {
      max-width:520px;
      text-align:center;
      margin:auto;

      @media(max-width:1080px){
        float:none !important;
        margin:auto;
      }

      h2 {
        font-size:40px;
        font-weight: 200;
        color:#000;
      }

      img {
        display:block;
        margin:80px auto 12px auto;
        max-width:100%;

        @media(max-width:600px){
          margin:50px auto 12px auto;
        }
      }

      p {
        font-size:15px;
        font-weight: 300;
        line-height:30px;
        color:#000;
        text-align:left;
        margin-bottom:28px;
      }

      strong {
        font-weight: 400;
      }

      a {
        font-size:15px;
        line-height:30px;
        color:#166fe1;
        display:inline-block;
        text-decoration:none;
        @include transition(all .4s);

        &.btn {
          @extend .btn-class;
          display:inline-block;
          color:#fff;
          line-height:15px;
          padding:21px 44px;
          font-weight: 300;

          &:hover {
            color:#fff;
          }
        }

        &:hover {
          color:#000;
        }
      }

    }






  }




}



// =====================BLANK 2 SECTION =====================

.blank-2 {
  width:100%;
  background:#f2faf2;
  padding:84px 0 82px 0;

  @media(max-width:600px){
    padding:50px 0 50px 0;
  }

  .blank-2-inner {
    max-width:1165px;
    width:100%;
    padding:0 20px;
    @include box-sizing();
    margin:auto;

    h2 {
      font-size:40px;
      line-height:40px;
      font-weight: 200;
      text-align:center;
      margin-bottom:40px;
    }

    p {
      font-size:15px;
      line-height:31px;
      font-weight: 300;
    }

  }
}






// ======================================= PURCHASE PAGE =====================================

#purchase {
  background: #fff;
  padding: 90px 0 97px 0;

  @media (max-width:600px){
    padding:50px 0;
  }

  .purchase-inner {
    max-width: 1165px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    @include box-sizing();

    .cards {
      max-width:975px;
      margin:auto;
      overflow:hidden;

      @media(max-width:1080px){
        display:none;
      }

      .card {
        max-width: 520px;
        text-align: center;

        @media(max-width: 1080px) {
          float: none !important;
          margin: auto;
        }

        h2 {
          font-size: 40px;
          font-weight: 200;
          color: #000;
        }

        img {
          display: block;
          margin: 0 auto 20px auto;
          max-width: 100%;
        }

        p {
          font-size: 15px;
          font-weight: 300;
          line-height: 30px;
          color: #000;
          text-align: left;
          margin-bottom: 28px;
        }

        strong {
          font-weight: 400;
        }

        a {
          font-size: 15px;
          line-height: 30px;
          color: #166fe1;
          display: inline-block;
          text-decoration: none;
          @include transition(all .4s);

          &.btn {
            @extend .btn-class;
            display: inline-block;
            color: #fff;
            line-height: 15px;
            padding: 21px 44px;
            font-weight: 300;

            &:hover {
              color: #fff;
            }
          }

          &:hover {
            color: #000;
          }
        }

      }

      .card-left {
        float: left;
        @media(max-width: 1080px) {
          margin-bottom: 86px;
        }

        @media(max-width: 600px) {
          margin-bottom: 46px;
        }
      }

      .card-right {
        float: right;
      }

    }

    .dropdown{
      position:relative;

      .btn {
        position:relative;
        z-index:2;
        outline:none;
      }

      .dropdown-menu {
        z-index:1;
        background:#3d3c3c;
        position:absolute;
        top:29px;
        left:0;
        width:100%;
        padding-top:39px;
        -webkit-border-bottom-right-radius: 29px;
        -webkit-border-bottom-left-radius: 29px;
        -moz-border-radius-bottomright: 29px;
        -moz-border-radius-bottomleft: 29px;
        border-bottom-right-radius: 29px;
        border-bottom-left-radius: 29px;
        display:none;
        text-align:center;

        li {
          height:40px;
          a {
            line-height:40px;
            color:#fff;
            text-decoration:none;
            display:block;
            @include transition(all .4s);
            font-weight: 300;

            &:hover {
              color:#4e9bfd;
            }
          }
        }

      }
    }

    .select-card-box {
      width:295px;
      margin:auto;

      @media(max-width:340px){
        width:100%;
      }

      .dropdown-select-card {
        margin:0 auto 28px auto;



        .btn {
          @extend .btn-class;
          text-transform: uppercase;
          display: inline-block;
          width:100%;
          background:#000 url('../img/arrow-down-dropdown.png') no-repeat;
          background-position:right 25px center;
          @include box-sizing();
          text-align:center;
          font-weight: 300;

          @media(max-width:600px){
            width:100%;
          }

          &:hover {
            background:#3d3c3c url('../img/arrow-down-dropdown.png') no-repeat;
            background-position:right 25px center;
          }
        }

        .btn-dropdown-close {
          background:url('../img/arrow-up-dropdown.png') no-repeat;
          background-position: center center;
          display:block;
          height:40px;
          width:100%;
          @include transition(all .4s);
          outline:none;

          &:hover {
            background-position:center top 10px;
          }
        }
      }

      .input {
        font-size:24px;
        padding:15px 15px;
        width:140px;
        display:inline-block;
        margin-left:78px;
      }

      p {
        font-size:14px;
        font-weight: 300;
        text-transform: uppercase;
        margin-left:12px;
        display:inline;
      }

    }

    .input {
      @include font1();
      font-weight: 300;
      border:none;
      @include border-radius(28px);
      padding:21px 35px;
      background:#efefef;
      color:#000;
      display:block;
      text-align:center;
      outline:none;
      @include box-sizing();

      &.input-1-2 {
        width:476px;
        margin-right:10px;

        @media(max-width:1000px){
          display:block !important;
          margin:0 auto 22px auto !important;
        }

        @media(max-width:600px){
          width:100%;
          display:block !important;
          margin:0 auto 22px auto !important;
        }
      }

      &.input-1-3 {
        width:314px;
        margin-right:10px;

        @media(max-width:1000px){
          width:476px;
          display:block !important;
          margin:0 auto 22px auto !important;
        }

        @media(max-width:600px){
          width:100%;
          display:block !important;
          margin:0 auto 22px auto !important;
        }
      }

      &.no-margin {
        margin-right:0;
      }

      &.centered {
        margin:0 auto;
        display:block !important;
      }

      &.promo {
        background:#b7e6fc;
      }
    }



    .customer-info-box {
      padding:100px 0 104px 0;
      font-size:0;
      max-width:965px;
      margin:auto;

      @media (max-width:600px){
        padding:50px 0 30px 0;
      }

      h2 {
        font-size:40px;
        font-weight:200;
        margin-bottom:45px;
        text-align:center;
      }

      .input {
        font-size:15px;
        padding:20px 15px 19px 15px;
        margin-bottom:22px;
        display:inline-block;


      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #000;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #000;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #000;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #000;
      }

      .dropdown-select-country {
        width:314px;
        display:inline-block;
        margin-right:10px;

        @media(max-width:1000px){
          width:476px;
          display:block !important;
          margin:0 auto 22px auto !important;
        }

        @media(max-width:600px){
          width:100%;
          display:block !important;
          margin:0 auto 22px auto !important;
        }

        .btn {
          @include font1();
          font-weight: 300;
          @include border-radius(28px);
          padding:20px 15px 19px 15px;
          color: #000;
          display: block;
          text-align: center;
          outline: none;
          @include box-sizing();
          font-size:15px;
          text-decoration: none;
          background:#efefef url('../img/arrow-down-2-dropdown.png') no-repeat;
          background-position:right 25px center;
          //@include transition(all .4s);

          &:hover {
            background:#cdcdcd url('../img/arrow-down-2-dropdown.png') no-repeat;
            background-position:right 25px center;
          }
        }

        .dropdown-menu {
          background:#f3f2f2;
          max-height:200px;
          overflow-x:auto;
          //@include border-radius(0);
          //-webkit-border-bottom-left-radius: 29px;
          //-moz-border-radius-bottomleft: 29px;
          //border-bottom-left-radius: 29px;


          li {
            a {
              color:#000;
              font-size:16px;
              font-weight: 300;
              @include transition(all .4s);
              outline:none;

              &:hover {
                color:#4e9afd;
              }
            }
          }

          .btn-dropdown-close {
            background:url('../img/arrow-up-2-dropdown.png') no-repeat;
            background-position: center center;
            display:block;
            height:40px;
            width:100%;
            @include transition(all .4s);

            &:hover {
              background-position:center top 10px;
            }
          }
        }

      }
    }



    .delivery-box {
      h2 {
        font-size:40px;
        font-weight:200;
        margin-bottom:50px;
        text-align:center;
      }

      .btn {
        @extend .btn-class;
        display:block;
        text-align:center;



        &.btn-delivery {
          width:472px;
          margin:0 auto 19px auto;
          text-transform: uppercase;
          background:#000 url('../img/icon-orange-plus.png') no-repeat;
          background-position:right 25px center;
          font-weight: 300;
          @include box-sizing();

          @media(max-width:600px){
            width:100% !important;
            display:block !important;
            margin:0 auto 22px auto !important;
          }

          &.open {
            background:#000 url('../img/icon-orange-minus.png') no-repeat;
            background-position:right 25px center;
          }

          &:hover {
            background:#509cfd url('../img/icon-orange-plus.png') no-repeat;
            background-position:right 25px center;

            &.open {
              background:#509cfd url('../img/icon-orange-minus.png') no-repeat;
              background-position:right 25px center;
            }
          }
        }
      }

      .option-box {
        max-width:810px;
        width:100%;
        border:1px solid #9a9a9a;
        margin:50px auto 50px auto;
        display:none;


        .option-box-inner {
          padding:75px 80px 86px 80px;
          text-align:center;

          @media(max-width:600px){
            padding:20px;
          }

          p {
            font-size:17px;
            font-weight: 300;
            line-height:30px;
            margin-bottom:22px;
          }

          a {
            font-size:17px;
            font-weight: 300;
            line-height:30px;
            text-decoration: none;
            color:#4f9bfd;
            @include transition(all .4s);

            &:hover {
              color:#000;
            }

          }

          .btn {
            display:inline-block;
            text-transform: uppercase;
            padding:21px 85px;
            @include box-sizing();
            font-weight: 300;
            color:#fff;
            line-height:16px;

            @media(max-width:600px){
              width:100%;
              display:block !important;
              margin:0 auto 22px auto !important;
            }

            &:hover {
              color:#fff;
            }
          }
        }
      }


    }




    .credit-card-info {
      padding:90px 0 86px 0;

      @media (max-width:600px){
        padding:30px 0 25px 0;
      }

      h2 {
        font-size:40px;
        font-weight:200;
        margin-bottom:45px;
        text-align:center;
      }

      .credit-card-form {
        font-size:0;
        max-width:965px;
        margin:auto;
      }

      .input {
        font-size:15px;
        padding:20px 15px 19px 15px;
        margin-bottom:22px;
        display:inline-block;


      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #000;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #000;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #000;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #000;
      }


      .dropdown {
        width:314px;
        display:inline-block;
        margin-right:10px;
        margin-bottom:24px;

        @media(max-width:1000px){
          width:476px;
          display:block !important;
          margin:0 auto 24px auto !important;
        }

        @media(max-width:600px){
          width:100%;
          display:block !important;
          margin:0 auto 22px auto !important;
        }

        &.no-margin {
          margin-right:0;
        }

        .btn {
          @include font1();
          font-weight: 300;
          @include border-radius(28px);
          padding:21px 15px 20px 15px;
          color: #000;
          display: block;
          text-align: center;
          outline: none;
          @include box-sizing();
          font-size:15px;
          text-decoration: none;
          background:#efefef url('../img/arrow-down-2-dropdown.png') no-repeat;
          background-position:right 25px center;
          @include transition(all .4s);

          &:hover {
            background:#cdcdcd url('../img/arrow-down-2-dropdown.png') no-repeat;
            background-position:right 25px center;
          }
        }

        .dropdown-menu {
          background:#f3f2f2;
          max-height:200px;
          overflow-x:auto;
          //@include border-radius(0);
          //-webkit-border-bottom-left-radius: 29px;
          //-moz-border-radius-bottomleft: 29px;
          //border-bottom-left-radius: 29px;


          li {
            a {
              color:#000;
              font-size:16px;
              font-weight: 300;
              @include transition(all .4s);
              outline:none;

              &:hover {
                color:#4e9afd;
              }
            }
          }

          .btn-dropdown-close {
            background:url('../img/arrow-up-2-dropdown.png') no-repeat;
            background-position: center center;
            display:block;
            height:40px;
            width:100%;
            @include transition(all .4s);

            &:hover {
              background-position:center top 10px;
            }
          }
        }

      }

    }


    .confirm-order-box {
      padding:0 0 0 0;
      text-align:center;

      h2 {
        font-size:40px;
        font-weight:200;
        margin-bottom:41px;
        text-align:center;
      }

      .btn {
        @extend .btn-class;
        display:inline-block;
        background:#f2a50b;
        @include transition(all .4s);
        color:#000;
        font-weight: 300;
        width:312px;
        margin-bottom:43px;
        @include box-sizing();

        &:hover {
          background:#f0bf5e;
        }

        @media(max-width:600px){
          width:100%;
          display:block !important;
          margin:0 auto 22px auto !important;
        }
      }

      img {
        max-width:100%;
      }
    }





  }

}











