@import url(reset.css);
body {
  font-family: 'Montserrat', sans-serif;
  background: #fff; }

.btn-class, header .header-inner nav ul li.btn a, #cards .cards-inner .card a.btn, #how-it-works .how-it-works-inner .btn, #testimonials .testimonials-inner .btn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  padding: 21px 35px;
  background: #000;
  color: #fff;
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none; }
  .btn-class:hover, header .header-inner nav ul li.btn a:hover, #cards .cards-inner .card a.btn:hover, #how-it-works .how-it-works-inner .btn:hover, #testimonials .testimonials-inner .btn:hover {
    background: #509cfd; }

header {
  width: 100%;
  background: #fff;
  height: 122px; }
  header .header-inner {
    position: relative; }
    header .header-inner a.logo {
      width: 394px;
      height: 176px;
      background: url("../img/logo.png") no-repeat;
      outline: none;
      display: block;
      position: absolute;
      left: 72px;
      top: 6px; }
    header .header-inner nav {
      float: right;
      margin: 33px 97px 0 0; }
      header .header-inner nav ul {
        height: 122px;
        list-style: none;
        float: left; }
        header .header-inner nav ul li {
          float: left;
          display: block;
          margin: 20px 20px 0 0; }
          header .header-inner nav ul li a {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
            display: block; }
            header .header-inner nav ul li a:hover {
              color: #167af9; }
          header .header-inner nav ul li.btn {
            margin: 0 19px 0 7px; }
            header .header-inner nav ul li.btn a {
              color: #fff;
              text-transform: uppercase;
              height: auto; }
          header .header-inner nav ul li.menu-item-has-children {
            position: relative;
            height: 69px; }
            header .header-inner nav ul li.menu-item-has-children:after {
              content: '';
              width: 12px;
              height: 6px;
              position: absolute;
              left: 50%;
              top: 32px;
              background: url("../img/menu-arrow-down.png");
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s; }
            header .header-inner nav ul li.menu-item-has-children:hover:after {
              top: 40px; }
            header .header-inner nav ul li.menu-item-has-children a {
              height: 69px; }
            header .header-inner nav ul li.menu-item-has-children ul {
              opacity: 0;
              height: auto;
              position: absolute;
              top: 89px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              padding: 27px 0;
              background: #509cfd;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s; }
              header .header-inner nav ul li.menu-item-has-children ul li {
                float: none;
                text-align: center;
                height: auto;
                margin: 0; }
                header .header-inner nav ul li.menu-item-has-children ul li a {
                  height: auto;
                  padding: 7px 30px;
                  color: #fff;
                  text-align: center;
                  white-space: nowrap;
                  display: block;
                  -webkit-transition: all 0.4s;
                  -moz-transition: all 0.4s;
                  -o-transition: all 0.4s;
                  transition: all 0.4s; }
                  header .header-inner nav ul li.menu-item-has-children ul li a:after {
                    display: none; }
                header .header-inner nav ul li.menu-item-has-children ul li:hover a {
                  color: #000; }
            header .header-inner nav ul li.menu-item-has-children:hover ul {
              top: 69px;
              opacity: 1; }
      header .header-inner nav .social-menu {
        float: left; }
        header .header-inner nav .social-menu li {
          margin-right: 7px; }
          header .header-inner nav .social-menu li:last-child {
            margin-right: 0px; }
        header .header-inner nav .social-menu .btn_facebook {
          width: 23px;
          height: 23px;
          padding: 5px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: #4e71a8 url("../img/icon_f.png") no-repeat center center;
          background-size: auto 15px;
          display: block;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; }
          header .header-inner nav .social-menu .btn_facebook:hover {
            background: #86a0c8 url("../img/icon_f.png") no-repeat center center;
            background-size: auto 15px; }
        header .header-inner nav .social-menu .btn_twitter {
          width: 23px;
          height: 23px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #1cb7eb url("../img/icon_t.png") no-repeat center center;
          background-size: auto 15px;
          display: block;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; }
          header .header-inner nav .social-menu .btn_twitter:hover {
            background: #84d6f1 url("../img/icon_t.png") no-repeat center center;
            background-size: auto 15px; }

#hero-image {
  background: url("../img/hero-image.jpg") no-repeat;
  background-size: cover;
  height: 759px;
  width: 100%;
  display: block; }
  #hero-image .hero-image-inner .hero-image-content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
    padding-top: 140px; }
    #hero-image .hero-image-inner .hero-image-content h1 {
      font-size: 108px;
      font-weight: 500;
      line-height: 108px;
      text-shadow: 7px 7px 21px rgba(0, 0, 0, 0.29); }
    #hero-image .hero-image-inner .hero-image-content h2 {
      font-size: 50px;
      font-weight: 200;
      line-height: 60px;
      text-shadow: 7px 7px 21px rgba(0, 0, 0, 0.69); }
    #hero-image .hero-image-inner .hero-image-content .btn-scroll-down {
      font-size: 14px;
      color: #fff;
      position: relative;
      text-decoration: none;
      margin-top: 190px;
      display: block; }
      #hero-image .hero-image-inner .hero-image-content .btn-scroll-down:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 30px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 20px;
        height: 10px;
        background: url("../img/arrow-down.png") no-repeat;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        pointer-events: none; }
      #hero-image .hero-image-inner .hero-image-content .btn-scroll-down:hover:after {
        top: 38px; }

#cards {
  width: 100%;
  background: #fff;
  padding: 86px 0 88px;
  overflow: hidden; }
  #cards .cards-inner {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    position: relative; }
    #cards .cards-inner .card {
      max-width: 520px;
      text-align: center; }
      #cards .cards-inner .card h2 {
        font-size: 40px;
        font-weight: 200;
        color: #000; }
      #cards .cards-inner .card img {
        display: block;
        margin: 0 auto 20px auto; }
      #cards .cards-inner .card p {
        font-size: 15px;
        font-weight: 300;
        line-height: 30px;
        color: #000;
        text-align: left;
        margin-bottom: 28px; }
      #cards .cards-inner .card strong {
        font-weight: 400; }
      #cards .cards-inner .card a {
        font-size: 15px;
        line-height: 30px;
        color: #166fe1;
        display: inline-block;
        text-decoration: none;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
        #cards .cards-inner .card a.btn {
          display: inline-block;
          color: #fff;
          line-height: 15px;
          padding: 21px 44px; }
          #cards .cards-inner .card a.btn:hover {
            color: #fff; }
        #cards .cards-inner .card a:hover {
          color: #000; }
    #cards .cards-inner .card-left {
      float: left; }
    #cards .cards-inner .card-right {
      float: right; }
    #cards .cards-inner .btn-play {
      text-align: center;
      display: inline-block;
      font-size: 15px;
      color: #166fe1;
      text-decoration: none;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 132px;
      outline: none; }
      #cards .cards-inner .btn-play img {
        display: block;
        margin: 0 auto 10px auto; }
      #cards .cards-inner .btn-play:hover {
        color: #000; }

#phrases {
  width: 100%;
  background: #f2faf2;
  padding: 82px 0 82px 0; }
  #phrases .phrases-inner {
    max-width: 1125px;
    width: 100%;
    margin: auto; }
    #phrases .phrases-inner ul li {
      font-size: 26px;
      font-weight: 200;
      line-height: 50px;
      padding-left: 48px;
      background: url("../img/checkmark.jpg") no-repeat;
      background-position: left 10px;
      letter-spacing: -0.01em; }
      #phrases .phrases-inner ul li strong {
        font-weight: 600; }

#partner-banner {
  width: 100%;
  background: #509cfd;
  padding: 72px 0 82px 0; }
  #partner-banner .partner-banner-inner {
    max-width: 1120px;
    margin: auto;
    text-align: center; }
    #partner-banner .partner-banner-inner h2 {
      font-size: 40px;
      font-weight: 200;
      color: #fff; }

#how-it-works {
  width: 100%;
  background: #f2faf2;
  padding: 78px 0 78px 0; }
  #how-it-works .how-it-works-inner {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    text-align: center; }
    #how-it-works .how-it-works-inner h2 {
      font-size: 40px;
      font-weight: 200;
      text-align: center; }
    #how-it-works .how-it-works-inner .hiw-wrapper {
      padding-top: 80px;
      text-align: center;
      margin-top: 76px; }
      #how-it-works .how-it-works-inner .hiw-wrapper .hiw-item {
        width: 326px;
        height: 326px;
        background: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        position: relative;
        display: inline-block;
        margin-right: 55px; }
        #how-it-works .how-it-works-inner .hiw-wrapper .hiw-item:last-child {
          margin-right: 0; }
        #how-it-works .how-it-works-inner .hiw-wrapper .hiw-item img {
          border: 10px solid #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          left: 50%;
          top: -80px;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          position: absolute; }
        #how-it-works .how-it-works-inner .hiw-wrapper .hiw-item h3 {
          font-size: 26px;
          line-height: 48px;
          text-transform: uppercase;
          font-weight: 300;
          padding: 130px 0 10px 0; }
        #how-it-works .how-it-works-inner .hiw-wrapper .hiw-item ul li {
          font-size: 15px;
          line-height: 22px;
          font-weight: 300; }
    #how-it-works .how-it-works-inner .btn {
      display: inline-block;
      margin-top: 88px; }

#testimonials {
  width: 100%;
  background: #fff;
  padding: 88px 0 100px 0; }
  #testimonials .testimonials-inner {
    max-width: 1120px;
    margin: auto;
    font-size: 0;
    vertical-align: top;
    text-align: center; }
    #testimonials .testimonials-inner .testimonials-list .testimonial-item {
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 65px; }
      #testimonials .testimonials-inner .testimonials-list .testimonial-item p {
        font-size: 24px;
        line-height: 36px;
        font-style: italic;
        font-weight: 200;
        margin-bottom: 25px; }
      #testimonials .testimonials-inner .testimonials-list .testimonial-item.full-width {
        width: 100%;
        max-width: 675px; }
      #testimonials .testimonials-inner .testimonials-list .testimonial-item.half-width {
        width: 50%; }
    #testimonials .testimonials-inner .btn {
      font-size: 15px;
      display: inline-block; }

/*# sourceMappingURL=style.css.map */
