@import url(reset.css);

// =================== MIXINS ===================

@mixin font1() {
  font-family: 'Montserrat', sans-serif;
}

@mixin border-radius($radius:2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin transform($param) {
  -webkit-transform: $param;
  -moz-transform: $param;
  -o-transform: $param;
  transform: $param;
}

// =================== COMMON ===================

body {
  @include font1();
  background:#fff;
  overflow-x:hidden;
}

.btn-class {
  @include border-radius(28px);
  padding:21px 35px;
  background:#000;
  color:#fff;
  display:block;
  @include transition(all .4s);
  text-decoration:none;

  &:hover {
    background:#509cfd;
  }
}


// ================== HEADER ==================

header {
  width:100%;
  background:#fff;
  height:122px;
  position:fixed;
  top:0;
  left:0;
  z-index:999999;

  @media(max-width:580px){
    height:68px;
  }

  .header-inner {
    position:relative;

    a.logo {
      width:394px;
      height:176px;
      background:url('../img/logo.png') no-repeat;
      background-size:contain;
      outline:none;
      display:block;
      position:absolute;
      left:72px;
      top:6px;

      @media(max-width:580px){
        width:200px;
        left:20px;
      }
    }


    nav {
      float:right;
      margin:33px 97px 0 0 ;

      @media (max-width:1350px){
        float:none;
        position:fixed;
        right:-250px;
        top:122px;
        bottom:0;
        margin:0;
        background:#fff;
        @include transition(all 1s);

        &.active {
          right:0;
        }
      }

      @media(max-width:580px){
        top:68px;
      }

      ul {
        height:122px;
        list-style:none;
        float:left;

        @media (max-width:1350px){
          float:none;
          height:auto;
        }

        li {
          float:left;
          display:block;
          margin:20px 20px 0 0;


          @media (max-width:1350px){
            float:none;
            margin:0;
          }


          a {

            @include font1();
            font-size:14px;
            font-weight:400;
            color:#000;
            text-decoration:none;
            text-transform: uppercase;
            @include transition(all .4s);
            display:block;


            &:hover {
              color:#167af9;
            }

            @media (max-width:1350px){
              padding:10px 20px;
            }
          }

          &.btn {
            margin: 0 19px 0 7px;
            @media (max-width:1350px){
              margin:10px 20px;
            }

            a {
              @extend .btn-class;
              color: #fff;
              text-transform: uppercase;
              height:auto;

              @media (max-width:1350px){
                display:block;
              }
            }
          }

          &.menu-item-has-children {
            position:relative;
            height:69px;

            @media (max-width:1350px){
              height:auto;
              background:url('../img/menu-arrow-down.png') no-repeat;
              background-position:right 10px top 15px;
            }


            &:after {
              content:'';
              width:12px;
              height:6px;
              position:absolute;
              left:50%;
              top:32px;
              background:url('../img/menu-arrow-down.png');
              @include transform(translateX(-50%));
              @include transition(all .4s);

              @media (max-width:1350px){
                display:none;
              }
            }

            &:hover:after {
              top:40px;
            }


            a {
              height:69px;

              @media (max-width:1350px){
                height:auto;
              }
            }


            ul {
              opacity:0;
              height:auto;
              position:absolute;
              top:89px;
              left:50%;
              @include transform(translateX(-50%));
              padding:27px 0;
              background:#509cfd;
              @include transition(all 0.4s);

              @media (max-width:1350px){
                top:0;
                left:0;
                position:relative;
                @include transform(none);
                opacity:1;
                max-height:0;
                @include box-sizing();
                @include transition(all .8s ease-in-out);
                overflow:hidden;
                padding:0;
              }


              li {
                float:none;
                text-align:center;
                height:auto;
                margin:0;

                @media (max-width:1350px){
                  text-align:left;

                  &:first-child {
                    padding-top:10px;
                  }

                  &:last-child {
                    padding-bottom:10px;
                  }
                }

                a {
                  height:auto;
                  padding:7px 30px;
                  color:#fff;
                  text-align:center;
                  white-space: nowrap;
                  display:block;
                  @include transition(all .4s);

                  &:after {
                    display:none;
                  }

                  @media (max-width:1350px){
                    text-align:left;
                    padding:10px 20px;
                  }
                }

                &:hover {
                  a {
                    color:#000;
                  }
                }

              }
            }

            &:hover {
              ul {
                top:69px;
                opacity:1;
                @media (max-width:1350px){
                  top:0;
                  max-height:200px;
                }
              }
            }



          }
        }
      }




      .social-menu {
        float:left;

        @media (max-width:1350px){
          float:none;
          text-align:center;
          margin-top:20px;
        }

        li {
          margin-right:7px;

          &:last-child {
            margin-right:0px;
          }

          @media (max-width:1350px){
            display:inline;
          }
        }

        .btn_facebook {
          width:23px;
          height:23px;
          padding:5px;
          @include border-radius(50%);
          @include box-sizing();
          background:#4e71a8 url('../img/icon_f.png') no-repeat center center;
          background-size:auto 15px;
          display:block;
          @include transition(all .4s);

          &:hover {
            background:#86a0c8 url('../img/icon_f.png') no-repeat center center;
            background-size:auto 15px;
          }

          @media (max-width:1350px){
            display:inline-block;
          }

        }

        .btn_twitter {
          width:23px;
          height:23px;
          padding:5px;
          @include border-radius(50%);
          @include box-sizing();
          background:#1cb7eb url('../img/icon_t.png') no-repeat center center;
          background-size:auto 15px;
          display:block;
          @include transition(all .4s);

          &:hover {
            background:#84d6f1 url('../img/icon_t.png') no-repeat center center;
            background-size:auto 15px;
          }

          @media (max-width:1350px){
            display:inline-block;
          }

        }


      }

    }


    .btn-mobile-menu {
      display:none;
      width:40px;
      height:40px;
      margin:41px 41px 0 0;
      float:right;

      @media (max-width:1350px){
        display:block;
      }

      @media(max-width:580px){
        width:20px;
        height:20px;
        margin:20px 20px 0 0;
      }

      img {
        width:100%;
      }
    }


  }
}


// ============= HERO IMAGE SECTION =============

#hero-image {
  background:url('../img/hero-image.jpg') no-repeat;
  background-size:cover;
  background-position:center center;
  height:759px;
  width:100%;
  display:block;
  margin-top:122px;

  @media(max-width:580px){
    margin-top:68px;
  }

  .hero-image-inner {
    height:100%;
    position:relative;

    .hero-image-content {
      max-width:1200px;
      width:100%;
      margin:auto;
      text-align:center;
      color:#fff;
      padding-top:140px;

      h1 {
        font-size:108px;
        font-weight:500;
        line-height:108px;
        text-shadow:7px 7px 21px rgba(0,0,0,0.29);
        @media(max-width:1250px){
          padding:0 20px;
        }

        @media(max-width:1250px){
          font-size:97px;
          line-height:97px;
        }

        @media(max-width:1100px){
          font-size:86px;
          line-height:86px;
        }

        @media(max-width:980px){
          font-size:68px;
          line-height:68px;
        }

        @media(max-width:780px){
          max-width:400px;
          margin:auto;
        }

        @media(max-width:430px){
          max-width:350px;
          margin:auto;
          font-size:45px;
          line-height:45px;
        }
      }

      h2 {
        font-size:50px;
        font-weight:200;
        line-height:60px;
        text-shadow:7px 7px 21px rgba(0,0,0,0.69);

        @media(max-width:1250px){
          padding:0 20px;
        }

        @media(max-width:1250px){
          font-size:45px;
          line-height:54px;
        }

        @media(max-width:1100px){
          font-size:40px;
          line-height:48px;
        }

        @media(max-width:980px){
          font-size:32px;
          line-height:38px;
        }

        @media(max-width:430px){
          font-size:25px;
          line-height:30px;
        }

      }

      .btn-scroll-down {
        font-size: 14px;
        color: #fff;
        position:absolute;
        text-decoration:none;
        //margin-top:190px;
        bottom:135px;
        left:50%;
        @include transform(translateX(-50%));
        display:block;
        outline:none;

        @media(max-width:830px){
          //bottom:85px;
        }

        &:after {
          content: "";
          position:absolute;
          left:50%;
          top:30px;
          @include transform(translateX(-50%));
          width:20px;
          height:10px;
          background:url('../img/arrow-down.png') no-repeat;
          @include transition(all .4s);
          pointer-events: none;
        }

        &:hover:after {
          top: 38px;
        }
      }


    }

  }
}


// ============= CARDS SECTION =============

#cards {
  width:100%;
  background:#fff;
  padding:86px 0 88px;
  overflow:hidden;

  .cards-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    position:relative;
    padding:0 20px;
    @include box-sizing();

    .card {
      max-width:520px;
      text-align:center;

      @media(max-width:1080px){
        float:none !important;
        margin:auto;
      }

      h2 {
        font-size:40px;
        font-weight: 200;
        color:#000;
      }

      img {
        display:block;
        margin:0 auto 20px auto;
        max-width:100%;
      }

      p {
        font-size:15px;
        font-weight: 300;
        line-height:30px;
        color:#000;
        text-align:left;
        margin-bottom:28px;
      }

      strong {
        font-weight: 400;
      }

      a {
        font-size:15px;
        line-height:30px;
        color:#166fe1;
        display:inline-block;
        text-decoration:none;
        @include transition(all .4s);

        &.btn {
          @extend .btn-class;
          display:inline-block;
          color:#fff;
          line-height:15px;
          padding:21px 44px;

          &:hover {
            color:#fff;
          }
        }

        &:hover {
          color:#000;
        }
      }

    }

    .card-left {
      float:left;
      @media(max-width:1080px) {
        margin-bottom:86px;
      }
    }

    .card-right {
      float:right;
    }


    .btn-play {
      text-align:center;
      display:inline-block;
      font-size:15px;
      color:#166fe1;
      text-decoration: none;
      @include transition(all .4s);
      position:absolute;
      left:50%;
      @include transform(translateX(-50%));
      top:132px;
      outline:none;

      @media(max-width:1080px) {
        position:relative;
        top:0;
        margin-bottom:76px;
      }

      img {
        display:block;
        margin:0 auto 10px auto;
      }

      &:hover {
        color:#000;
      }


    }

  }
}



// ============= PHRASES SECTION =============

#phrases {
  width:100%;
  background:#f2faf2;
  padding:82px 0 82px 0;

  .phrases-inner {
    max-width:1165px;
    width:100%;
    margin:auto;
    padding:0 20px;
    @include box-sizing();

    ul {
      li {
        font-size:26px;
        font-weight: 200;
        line-height:50px;
        padding-left:48px;
        background:url('../img/checkmark.jpg') no-repeat;
        background-position:left 10px;
        letter-spacing: -0.01em;

        strong {
          font-weight: 600;
        }
      }
    }
  }
}


// ============= PARTNER BANNER SECTION =============

#partner-banner {
  width:100%;
  background:#509cfd;
  padding:72px 0 82px 0;

  .partner-banner-inner {
    max-width:1160px;
    margin:auto;
    text-align:center;
    padding:0 20px;
    @include box-sizing();

    h2 {
      font-size:40px;
      font-weight: 200;
      color:#fff;
    }
  }
}


// ============= LOGOS SECTION =============

#logos {
  width: 100%;
  background: #fff;
  padding: 70px 0 80px 0;

  .logos-inner {

    ul.logos-slider {

      li {
        float: none !important;
        display: table-cell;
        width: auto !important;
        vertical-align: middle;

        img {
          margin: 0 25px;
        }
      }
    }

    .bx-wrapper {
      @include box-shadow(none);
      margin-bottom:42px;
    }

    .logos-controls {
      text-align:center;
      vertical-align: top;
      font-size:0;
      padding:0 20px;
      @include box-sizing();

      @media(max-width:880px){
        max-width:360px;
        margin:auto;
      }

      .btn {
        @extend .btn-class;
        display: inline-block;
        padding:20px 50px !important;
        font-size:15px;

        span {
          color:#95b9e7;
        }
      }

      .slider-controls {
        font-size:0;
        display:inline-block;
        vertical-align: top;
        margin:0 19px;

        @media(max-width:880px){
          margin:19px;
        }

        .logo-prev {
          display:inline;
          a {
            -webkit-border-top-left-radius: 28px;
            -webkit-border-bottom-left-radius: 28px;
            -moz-border-radius-topleft: 28px;
            -moz-border-radius-bottomleft: 28px;
            border-top-left-radius: 28px;
            border-bottom-left-radius: 28px;

            background: #65a8fd url('../img/slider-arrow-left.png') no-repeat;
            background-position: center center;
            display: inline-block;
            @include transition(all .4s);
            text-decoration: none;
            text-indent: -9999px;
            width: 69px;
            height: 58px;
            cursor: pointer;
            outline:none;

            &:hover {
              background: #afcdf3 url('../img/slider-arrow-left.png') no-repeat;
              background-position: center center;
            }
          }
        }


        .logo-next {
          display:inline;
          a {
            -webkit-border-top-right-radius: 28px;
            -webkit-border-bottom-right-radius: 28px;
            -moz-border-radius-topright: 28px;
            -moz-border-radius-bottomright: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;

            background: #65a8fd url('../img/slider-arrow-right.png') no-repeat;
            background-position: center center;
            display: inline-block;
            @include transition(all .4s);
            text-decoration: none;
            text-indent: -9999px;
            width: 69px;
            height: 58px;
            cursor: pointer;
            outline:none;


            &:hover {
              background: #afcdf3 url('../img/slider-arrow-right.png') no-repeat;
              background-position: center center;
            }
          }
        }

      }





    }

  }
}


// ============= HOW IT WORKS SECTION =============

#how-it-works {
  width:100%;
  background:#f2faf2;
  padding:78px 0 78px 0;

  .how-it-works-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    text-align:center;
    padding:0 20px;
    @include box-sizing();

    h2 {
      font-size:40px;
      font-weight: 200;
      text-align:center;
    }

    .hiw-wrapper {
      padding-top:80px;
      text-align:center;
      margin-top:76px;

      .hiw-item {
        width:326px;
        height:326px;
        background:#fff;
        @include border-radius(50%);
        text-align:center;
        position:relative;
        display:inline-block;
        margin-right:55px;

        @media(max-width:1160px){
          margin:0 25px 25px 25px;
        }

        @media(max-width:800px){
          margin:25px 25px 100px 25px;
        }

        @media(max-width:400px) {
          @include border-radius(10px);
          margin:0 0 120px 0;
          width:auto;
          height:auto;
          padding:20px;
          @include box-sizing();
        }

        &:last-child {
          margin-right:0;

          @media(max-width:1160px){
            margin:25px;
          }

          @media(max-width:400px) {
            margin:0 0 100px 0;
          }
        }

        img {
          border:10px solid #fff;
          @include border-radius(50%);
          left:50%;
          top:-80px;
          @include transform(translateX(-50%));
          position:absolute;
        }

        h3 {
          font-size: 26px;
          line-height:48px;
          text-transform: uppercase;
          font-weight: 300;
          padding:130px 0 10px 0;

          @media(max-width:400px) {
            padding:100px 0 10px 0;
          }
        }

        ul {
          li {
            font-size:15px;
            line-height:22px;
            font-weight: 300;
          }
        }
      }



    }

    .btn {
      @extend .btn-class;
      display:inline-block;
      margin-top:88px;
    }

  }
}


// ============= TESTIMONIALS SECTION =============

#testimonials {
  width:100%;
  background:#fff;
  padding:88px 0 100px 0;

  .testimonials-inner {
    max-width:1160px;
    margin:auto;
    font-size:0;
    vertical-align: top;
    text-align:center;
    padding:0 20px;
    @include box-sizing();

    .testimonials-list {
      .testimonial-item {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 65px;

        p {
          font-size: 24px;
          line-height: 36px;
          font-style: italic;
          font-weight: 200;
          margin-bottom: 25px;
        }

        img {
          max-width:100%;
        }

        &.full-width {
          width: 100%;
          max-width: 675px;
        }

        &.half-width {
          width: 50%;

          @media(max-width:940px){
            width:100%;
            max-width:675px;
          }
        }

      }
    }

    .btn {
      font-size:15px;
      @extend .btn-class;
      display:inline-block;
    }

  }
}



// ============= BLOG SECTION =============

#blog {
  width:100%;
  background:#fff;

  .blog-inner {
    overflow:hidden;

    .post-item {
      width:100vw;
      display:flex;
      align-items:center;

      @media(max-width:1400px){
        flex-wrap:wrap;
      }

      .post-image {
        width:50vw;
        flex-grow: 0;

        @media(max-width:1400px){
          width:100vw;
        }

        img {
          width:50vw;
          display:block;

          @media(max-width:1400px){
            width:100vw;
          }
        }
      }

      .post-content {
        width: 50vw;
        flex-grow: 1;
        overflow: hidden;
        padding: 0 90px 0 90px;

        @media(max-width:1400px){
          width:100vw;
          padding:90px;
        }

        @media(max-width:768px){
          padding:30px;
          text-align:center;
        }


        h2 {
          font-size: 32px;
          font-weight: 200;
          margin-bottom: 20px;
        }

        p {
          font-size: 15px;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 25px;
        }

        .btn {
          @extend .btn-class;
          display: inline-block;
        }

        .post-content-inner {
          max-width: 565px;

          @media(max-width:1400px){
            max-width:100%;
          }
        }

      }

      &.post-image-left {
        .post-image {
          order:1;
        }

        .post-content {
          order:2;
        }
      }

      &.post-image-right {
        .post-image {
          order:2;
        }

        .post-content {
          order:1;
          text-align:right;

          .post-content-inner {
            float:right;
          }
        }

        @media(max-width:1400px){
          .post-image {
            order:1;
          }

          .post-content {
            order:2;
            text-align:left;

            .post-content-inner {
              float:none;
            }
          }
        }

        @media(max-width:768px){
          .post-content {
            text-align:center;
          }
        }


      }


    }

  }
}


// ============= FOOTER SECTION =============

footer {
  width:100%;
  background:#4b99fd;
  padding:80px 0 78px 0;

  .footer-inner {
    max-width:1160px;
    width:100%;
    margin:auto;
    overflow:hidden;
    padding:0 20px;
    @include box-sizing();
    font-size:0;


    h3 {
      font-size:24px;
      font-weight: 200;
      color:#000;
      margin-bottom:35px;
    }

    ul {
      li {
        a {
          font-size:15px;
          font-weight: 300;
          line-height:24px;
          color:#fff;
          @include transition(all .4s);
          text-decoration: none;

          &:hover {
            color:#000;
          }
        }
      }
    }


    .navigation-menu, .stuff-menu, .connect-menu, .newsletter {
      display:inline-block;
      vertical-align: top;
    }

    .navigation-menu {
      width:268px;
      @media(max-width:1200px){
        width:50%;
        padding:0 0 60px 0;
        text-align: center;
      }

      @media(max-width:1200px){
        width:100%;
      }

    }

    .stuff-menu {
      width:268px;
      @media(max-width:1200px){
        width:50%;
        padding:0 0 60px 0;
        text-align: center;
      }

      @media(max-width:1200px){
        width:100%;
      }

    }

    .connect-menu {
      width:234px;
      @media(max-width:1200px){
        width:50%;
        text-align: center;
      }

      @media(max-width:1200px){
        width:100%;
        padding:0 0 60px 0;
      }

    }

    .newsletter {
      width:350px;
      @media(max-width:1200px){
        width:50%;
        text-align: center;
      }

      @media(max-width:1200px){
        width:100%;
        padding:0 0 60px 0;
      }


      input[type=email]{
        @include border-radius(28px);
        border:none;
        padding:21px 35px;
        background:#fff;
        color:#000;
        display:block;
        @include transition(all .4s);
        text-decoration:none;
        @include box-sizing();
        max-width:350px;
        width:100%;
        outline:none;

        @media(max-width:1200px){
          margin:auto;
        }

      }

      .btn {
        @extend .btn-class;
        display:inline-block;
        margin-top:19px;
        font-size:15px;
      }
    }



  }
}



// ============= COPYRIGHT SECTION =============


#copyright {
  width:100%;
  background:#fff;
  padding:32px 0;
  overflow:hidden;


  .copyright-inner {
    max-width:1120px;
    width:100%;
    margin:auto;

    .copyright-info {
      max-width: 395px;
      float: left;


      p {
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
        color: #000;
        margin-top: 2px;

        a {
          font-size: 13px;
          font-weight: 300;
          line-height: 24px;
          color: #6775ff;
          @include transition(all .4s);
          display: inline-block;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }
      }

    }

    .payment-menu {
      float:right;

      ul {
        li {
          height:50px;
          display:table-cell;
          vertical-align: middle;


          a {
            text-decoration: none;
            margin-left:10px;

            img {
              @include transform(translateZ(0));
              -webkit-transition: .2s transform;
              transition: .2s transform;
            }

            &:hover {
              img {
                @include transform(translateY(-5px));
              }
            }
          }
        }
      }
    }

  }
}






