@import url(reset.css);

// =================== MIXINS ========================

@mixin font1() {
  font-family: 'Montserrat', sans-serif;
}

@mixin border-radius($radius:2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin transform($param) {
  -webkit-transform: $param;
  -moz-transform: $param;
  -o-transform: $param;
  transform: $param;
}

// =================== COMMON ========================

body {
  @include font1();
  background:#fff;
}

.btn-class {
  @include border-radius(28px);
  padding:21px 35px;
  background:#000;
  color:#fff;
  display:block;
  @include transition(all .4s);

  &:hover {
    background:#509cfd;
  }
}


// ================== HEADER ============================

header {
  width:100%;
  background:#fff;
  height:122px;

  .header-inner {
    position:relative;

    a.logo {
      width:394px;
      height:176px;
      background:url('../img/logo.png') no-repeat;
      outline:none;
      display:block;
      position:absolute;
      left:72px;
      top:6px;
    }


    nav {
      float:right;
      margin:33px 97px 0 0 ;

      ul {
        height:122px;
        list-style:none;
        float:left;
        li {
          float:left;
          display:block;
          margin:20px 20px 0 0;


          a {

            @include font1();
            font-size:14px;
            font-weight:400;
            color:#000;
            text-decoration:none;
            text-transform: uppercase;
            @include transition(all .4s);
            display:block;


            &:hover {
              color:#167af9;
            }
          }

          &.btn {
            margin: 0 19px 0 7px;
            a {
              @extend .btn-class;
              color: #fff;
              text-transform: uppercase;
              height:auto;
            }
          }

          &.menu-item-has-children {
            position:relative;
            height:69px;


            &:after {
              content:'';
              width:12px;
              height:6px;
              position:absolute;
              left:50%;
              top:32px;
              background:url('../img/menu-arrow-down.png');
              @include transform(translateX(-50%));
              @include transition(all .4s);
            }

            &:hover:after {
              top:40px;
            }


            a {
              height:69px;
            }


            ul {
              opacity:0;
              height:auto;
              position:absolute;
              top:89px;
              left:50%;
              @include transform(translateX(-50%));
              padding:27px 0;
              background:#509cfd;
              @include transition(all 0.4s);


              li {
                float:none;
                text-align:center;
                height:auto;
                margin:0;

                a {
                  height:auto;
                  padding:7px 30px;
                  color:#fff;
                  text-align:center;
                  white-space: nowrap;
                  display:block;
                  @include transition(all .4s);

                  &:after {
                    display:none;
                  }
                }

                &:hover {
                  a {
                    color:#000;
                  }
                }

              }
            }

            &:hover {
              ul {
                top:69px;
                opacity:1;
              }
            }



          }
        }
      }




      .social-menu {
        float:left;

        li {
          margin-right:7px;

          &:last-child {
            margin-right:0px;
          }
        }

        .btn_facebook {
          width:23px;
          height:23px;
          padding:5px;
          @include border-radius(50%);
          @include box-sizing();
          background:#4e71a8 url('../img/icon_f.png') no-repeat center center;
          background-size:auto 15px;
          display:block;
          @include transition(all .4s);

          &:hover {
            background:#86a0c8 url('../img/icon_f.png') no-repeat center center;
            background-size:auto 15px;
          }

        }

        .btn_twitter {
          width:23px;
          height:23px;
          @include border-radius(50%);
          background:#1cb7eb url('../img/icon_t.png') no-repeat center center;
          background-size:auto 15px;
          display:block;
          @include transition(all .4s);

          &:hover {
            background:#84d6f1 url('../img/icon_t.png') no-repeat center center;
            background-size:auto 15px;
          }

        }


      }

    }

  }
}


// ============= HERO IMAGE SECTION ============

#hero-image {
  background:url('../img/hero-image.jpg') no-repeat;
  background-size:cover;
  height:759px;
  width:100%;
  display:block;

  .hero-image-inner {
    .hero-image-content {
      max-width:1200px;
      width:100%;
      margin:auto;
      text-align:center;
      color:#fff;
      padding-top:140px;

      h1 {
        font-size:108px;
        font-weight:500;
        line-height:108px;
        text-shadow:7px 7px 21px rgba(0,0,0,0.29);

      }

      h2 {
        font-size:50px;
        font-weight:200;
        line-height:60px;
        text-shadow:7px 7px 21px rgba(0,0,0,0.69);
      }

      .btn-scroll-down {
        font-size: 14px;
        color: #fff;
        position:relative;
        text-decoration:none;
        margin-top:190px;
        display:block;

        &:after {
          content: "";
          position:absolute;
          left:50%;
          top:30px;
          @include transform(translateX(-50%));
          width:20px;
          height:10px;
          background:url('../img/arrow-down.png') no-repeat;
          @include transition(all .4s);
          pointer-events: none;
        }

        &:hover:after {
          top: 38px;
        }
      }


    }

  }
}